<form class="form my-2 my-lg-0 m-5 col-10 col-lg-8 mx-auto d-flex flex-column">
    <input class="form-control mr-sm-2" type="text" placeholder="Keresés" (keyup)="onChangeSearch($event, 'name')">
    <button class="btn btn-outline-primary my-2 my-2 mx-auto" type="submit">Keresés névben</button>
</form>
<form class="form my-2 my-lg-0 m-5 col-10 col-lg-8 mx-auto d-flex flex-column">
    <input class="form-control mr-sm-2" type="text" placeholder="Keresés"
        (keyup)="onChangeSearch($event, 'description')">
    <button class="btn btn-outline-primary my-2 my-2 mx-auto" type="submit">Keresés útleírásban</button>
</form>

<div class="sort-buttons d-flex justify-content-center mx-auto">
    <div class="row mx-auto justify-content-center">
        <button class="btn-filter btn btn-outline-primary col-12 col-md-5 col-lg-3"
            (click)="onChangeSort('price')">Rendezés ár szerint</button>
        <button class="btn-filter btn btn-outline-primary col-12 col-md-5 col-lg-3"
            (click)="onChangeSort('name')">Rendezés név szerint</button>
        <button class="btn-filter btn btn-outline-primary col-12 col-md-5 col-lg-3"
            (click)="onChangeSortFeatured()">Mutasd a
            kiemelteket</button>
        <button class="btn-filter btn btn-outline-primary col-12 col-md-5 col-lg-3" (click)="onChangeSortSales()">Mutasd
            az akciósokat</button>
    </div>
</div>

<div class="row mx-auto m-o">
    <app-product-card class="col-10 col-md-5 col-lg-3 col-xl-2 mx-auto mt-5"
        *ngFor="let product of products | filter: search: filterKey | sort: sortKey" [product]=" product">
    </app-product-card>
</div>