<div class="container col-lg-12">
  <div class="row mx-auto m-o">
    <app-product-card class="col-10 col-lg-3 mx-auto mb-4" [product]="product"
      *ngFor="let product of paginationNumber(products, index)">
    </app-product-card>
  </div>

  <button class="btn btn-outline-dark" (click)="paginationBack(products)">Vissza</button>

  <button class="btn btn-outline-dark" *ngFor="let button of buttonsNumberArray(products)"
    (click)="paginationNumber(products, button)">{{ button }}</button>
  <button class="btn btn-outline-dark" (click)="paginationNext(products)">Előre</button>

</div>