<div class="headline-home d-flex flex-column justify-content-center py-5">
    <img class="logo mx-auto" src="../../assets/img/800/logo.png" alt="logó">
</div>
<div class="title-featured text-center py-4 mb-0">
    <h1>Nyolcas terminál</h1>
    <p>- a végtelen utazás jegyében -</p>
    <h3 class="mt-5">Kiemelt ajánlataink</h3>
</div>
<app-product-pagi class="product-pagi text-center d-flex flex-column mx-auto py-5"
    [products]="productList$ | async | featured:true | slice:0:5">
</app-product-pagi>
<h3 class="title-sales text-center py-4 mb-0">Akciós ajánlataink</h3>
<app-product-pagi class="product-pagi text-center d-flex flex-column mx-auto py-5"
    [products]="productList$ | async | sales:1 | slice:0:5">
</app-product-pagi>

<app-footer class="footer nav nav-dark bg-dark py-5 py-lg-0 text-center d-flex flex-column">
</app-footer>