.employee-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color: orange;
}
.team-card {
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;

}
.team-position {
    height: 3rem;
}