<div class="card text-center d-flex justify-content-center align-items-center team-card" style="width: 14rem;">
    <img src="assets/img/800/{{employee.image}}.jpg" class="employee-image" alt="{{employee.image}}">
    <div class="card-body text-center">
        <h5 class="card-title font-weight-bold team-name">{{employee.name}}</h5>
        <p class="card-text team-position">{{employee.position}}</p>
        <p class="card-text">{{employee.email}}</p>
        <p class="card-text">{{employee.phone}}</p>
        <p>Kedvenc desztináció: </p>
        <p class="card-text">{{employee.favoriteDestination}}</p>
    </div>
</div>